/*总体样式 */

html,
body,
mdui-layout {
  width: 100vw;
  height: 100vh;

  font-family: 'HarmonyOSSans SC M', sans-serif;

  user-select: none;
  overscroll-behavior: none;
}

mdui-layout {
  background-color: rgba(var(--mdui-color-primary), 0.08);
}

:root {
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.4rem;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(var(--mdui-color-secondary), 0.2);
    border-radius: 1rem;
  }
}

mdui-select,
mdui-text-field {
  line-height: 1.375rem;
  font-family: 'Product Sans';
  max-width: 16em;
}

mdui-text-field::part(container) {
  border-radius: var(--mdui-shape-corner-medium) var(--mdui-shape-corner-medium) 0 0;
}

mdui-tabs::part(container) {
  margin-bottom: 0.5rem;
  background-color: unset;
}

span[slot="description"] {
  opacity: 0.6;
  color: rgb(var(--mdui-color-secondary));
  font-size: small;
}

mdui-segmented-button-group {
  mdui-segmented-button {
    width: 0.4rem;
    margin: 0 0.05rem;

    border-radius: var(--mdui-shape-corner-small);
    color: rgb(var(--mdui-color-primary));
    background-color: rgb(var(--mdui-color-secondary-container));
    border: none;

    transition: all 0.2s;
  }

  mdui-segmented-button.leftBtn {
    border-radius: var(--mdui-shape-corner-extra-large) var(--mdui-shape-corner-small) var(--mdui-shape-corner-small) var(--mdui-shape-corner-extra-large);
  }

  mdui-segmented-button.rightBtn {
    border-radius: var(--mdui-shape-corner-small) var(--mdui-shape-corner-extra-large) var(--mdui-shape-corner-extra-large) var(--mdui-shape-corner-small);
  }

  mdui-segmented-button[selected] {
    width: 1.6rem;
    border-radius: var(--mdui-shape-corner-extra-large);
    color: rgb(var(--mdui-color-surface));
    background-color: rgb(var(--mdui-color-primary));
  }
}


/* 主窗口控件 */
mdui-top-app-bar {
  z-index: 100;

  align-items: center;
  background-color: #00000000;
  color: rgb(var(--mdui-color-primary));

  -webkit-app-region: drag;

  mdui-top-app-bar-title {
    margin-left: 1.6rem;

    font-size: medium;
    -webkit-app-region: drag;
    user-select: none;

    color: rgb(var(--mdui-color-primary));

    font-family: 'Product Sans';
  }

  mdui-button-icon {
    margin: 0;

    transform: scale(0.8);
    color: rgb(var(--mdui-color-primary));
  }
}

div.page {
  width: 100%;
  margin: 0 0 0 calc(5rem + 14rem);
  padding: 0 3rem;

  overflow: auto;
  min-height: 600px;

  font-family: 'Harmony Sans SC';

  background-color: rgb(var(--mdui-color-surface));
  border-radius: var(--mdui-shape-corner-extra-large) 0 0 var(--mdui-shape-corner-extra-large);

  transition: all 0.3s cubic-bezier(0.28, 0.02, 0.45, 0.98);
  transform: translateX(0);

  div.page-container {
    width: calc(100% - 4rem);
    height: calc(100vh - 6rem);

    position: absolute;
    bottom: 2rem;
    left: 3rem;

    overflow: auto;
  }
}

h1 {
  user-select: none;
  font-weight: normal;

  font-family: 'Harmony Sans SC Bold';
}

mdui-snackbar {
  margin-left: 6rem;
  margin-bottom: 1.6rem;
  border-radius: var(--mdui-shape-corner-medium);

  div {
    display: flex;
    align-items: center;
  }
}

/* 设置页 */

div#settingPage {

  mdui-list-subheader {
    margin: 0.5rem 0;
    font-size: medium;
    color: rgb(var(--mdui-color-secondary));
    font-family: 'Harmony Sans SC M';
  }
}

div.time-container {
  width: 100%;

  mdui-list-item {
    width: 100%;

    margin-top: 0.5rem;

    font-family: 'Product Sans';
    text-align: center;
  }
}

div.showList {
  width: 100%;
  height: calc(100vh - 3rem);

  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;

  transition: all 0.3s cubic-bezier(0.28, 0.02, 0.45, 0.98);
}

mdui-card.viewCard {
  transition: all 0.1s;

  background-color: rgb(var(--mdui-color-surface));

  border-radius: 2rem;
}

mdui-navigation-rail {
  z-index: 100;
  background-color: unset;

  mdui-button-icon[slot="bottom"] {
    margin-bottom: 1.2rem;
  }

  mdui-button-icon#list-container-switch {
    background-color: rgba(var(--mdui-color-surface), 0.7);
  }
}

div.list-container {
  width: 12rem;
  height: calc(100vh - 4rem);

  position: fixed;
  top: 0;
  padding: 0.5rem;
  margin: 3rem 0 0 5rem;

  font-family: 'Harmony Sans SC';

  transform: translateX(0);
  /* 初始显示 */
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;
  z-index: 10;

  p.showCount {
    margin: 0.25rem 0 1.4rem 0;
    text-align: center;
    font-size: small;
  }

  div.toolBar {
    width: calc(100% - 1rem);
    margin: 0 0.5rem;

    background-color: rgba(var(--mdui-color-surface), 0.7);
    border-radius: var(--mdui-shape-corner-small) var(--mdui-shape-corner-small) var(--mdui-shape-corner-large) var(--mdui-shape-corner-large);

    position: absolute;
    bottom: 1.6rem;
    left: 0;

    mdui-collapse {
      width: 100%;
      padding: 0 0.2rem;
    }

    mdui-list-item,
    mdui-collapse-item {
      padding: 0 0.2rem;
    }
  }

  mdui-list-item {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 4.4rem;
  }

  mdui-list-item[active] {
    border: rgb(var(--mdui-color-secondary)) solid 0.1rem;
    background-color: unset;

    border-radius: var(--mdui-shape-corner-extra-large);
  }

  mdui-list-subheader {
    line-height: 16px;
    height: 16px;
    color: rgb(var(--mdui-color-secondary));
    font-family: 'Harmony Sans SC M';
  }

  mdui-button,
  mdui-button-icon {
    border-radius: var(--mdui-shape-corner-medium);

    background-color: rgb(var(--mdui-color-primary), 0.1);
    color: rgb(var(--mdui-color-on-surface));

    transition: all 0.2s;
  }

  mdui-button {
    width: 6rem;
  }

  mdui-button:hover {
    border-radius: var(--mdui-shape-corner-extra-large);
  }

  mdui-button-icon:hover {
    border-radius: var(--mdui-shape-corner-extra-large);
  }

  div.overviewList {
    height: calc(100vh - 14rem);

    margin-top: 1em;
    padding: 0 0.4rem;

    background-color: rgba(var(--mdui-color-surface), 0.7);
    border-radius: var(--mdui-shape-corner-large) var(--mdui-shape-corner-large) var(--mdui-shape-corner-small) var(--mdui-shape-corner-small);

    overflow: auto;

    scrollbar-color: rgb(var(--mdui-color-secondary), 0.2) #00000000;
  }
}



.no-disturb-screen {
  z-index: 999;
  width: 100%;
  height: 100%;

  display: none;

  position: fixed;
  top: 0;
  left: 0;

  background-color: black;
  color: white;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.28, 0.02, 0.45, 0.98);

  div.showList {
    max-width: calc(100vw - 10vh);
    max-height: calc(100vh - 16rem);
    margin-top: 3rem;
  }

  .time-display {
    position: absolute;
    top: 5vh;
    left: 5vh;

    font-family: 'Product Sans';
    font-size: 10vh;

    opacity: 0.7;
  }

  .count-display {
    position: absolute;
    top: calc(5vh + 10vh + 1vh);
    left: calc(5vh + 1rem);

    font-family: 'Product Sans';
    font-size: 2vh;

    opacity: 0.7;
  }

  .exit-button {
    width: 5.2rem;
    height: 3.6rem;

    position: absolute;
    bottom: 50px;

    background-color: rgb(var(--mdui-color-surface-container-high-dark));
    color: rgb(var(--mdui-color-primary-dark));
    border-radius: var(--mdui-shape-corner-extra-large);

    cursor: pointer;

    transition: all 0.2s;
  }

  .exit-button:hover {
    border-radius: var(--mdui-shape-corner-medium);
  }
}

.no-disturb-screen.active {
  opacity: 1;
}

div.showList {
  font-family: 'Harmony Sans SC M';
}

div.margined {
  margin-left: 2.5rem;
}

.add-toolbar {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;

  .primaryBtn {
    height: 4.2rem;
    width: 4rem;
    margin: 0 0.2rem;

    border-radius: 2rem;
    background-color: rgb(var(--mdui-color-secondary-container));
    color: rgb(var(--mdui-color-secondary));
    box-shadow: none;

    font-family: 'Harmony Sans SC M';

    transition: all 0.1s;
  }
  .primaryBtn:hover {
    border-radius: var(--mdui-shape-corner-medium);
    background-color: rgb(var(--mdui-color-secondary));
    color: rgb(var(--mdui-color-secondary-container));
  }

  .normalBtn {
    height: 4.2rem;
    width: 2.4rem;

    background-color: rgb(var(--mdui-color-surface-container-high));
    color: rgb(var(--mdui-color-secondary));
    box-shadow: none;

    border-radius: 2rem;

    transition: all 0.1s;
  }

  .normalBtn:hover {
    border-radius: var(--mdui-shape-corner-medium);
    border: 0.1rem solid rgba(var(--mdui-color-secondary), 0.15);
  }

  .deleteMsgBtn {
    color: rgb(var(--mdui-color-error),0.7);
  }

  .deleteMsgBtn:hover {
    border: 0.1rem solid rgba(var(--mdui-color-error),0.15);
    background-color: rgb(var(--mdui-color-error),0.15);
  }
}