/*总体样式 */

html,
body,
mdui-layout {
  width: 100vw;
  height: 100vh;

  font-family: 'Harmony Sans SC M', sans-serif;

  user-select: none;
  overscroll-behavior: none;
}

mdui-layout {
  background-color: rgba(var(--mdui-color-secondary-container), 0.4);
}

:root {
      scrollbar-width: thin;
    scrollbar-color: rgba(var(--mdui-color-secondary), 0.15) #00000000;

}

mdui-select,
mdui-text-field {
  line-height: 1.375rem;
  font-family: 'Product Sans';
  max-width: 16em;
}

mdui-text-field::part(container) {
  border-radius: var(--mdui-shape-corner-medium) var(--mdui-shape-corner-medium) 0 0;
}

mdui-dialog {
  mdui-text-field::part(container) {
    border-radius: var(--mdui-shape-corner-medium);
  }
}

mdui-tabs::part(container) {
  margin-bottom: 0.5rem;
  background-color: unset;
}

span[slot="description"] {
  opacity: 0.6;
  color: rgb(var(--mdui-color-secondary));
  font-size: small;
}

mdui-segmented-button-group {
  mdui-segmented-button {
    width: 0.4rem;
    margin: 0 0.05rem;

    border-radius: var(--mdui-shape-corner-small);
    color: rgb(var(--mdui-color-primary));
    background-color: rgb(var(--mdui-color-secondary-container));
    border: none;

    transition: all 0.2s;
  }

  mdui-segmented-button.leftBtn {
    border-radius: var(--mdui-shape-corner-extra-large) var(--mdui-shape-corner-small) var(--mdui-shape-corner-small) var(--mdui-shape-corner-extra-large);
  }

  mdui-segmented-button.rightBtn {
    border-radius: var(--mdui-shape-corner-small) var(--mdui-shape-corner-extra-large) var(--mdui-shape-corner-extra-large) var(--mdui-shape-corner-small);
  }

  mdui-segmented-button[selected] {
    width: 1.6rem;
    border-radius: var(--mdui-shape-corner-extra-large);
    color: rgb(var(--mdui-color-surface));
    background-color: rgb(var(--mdui-color-primary));
  }
}

mdui-menu {
  border-radius: var(--mdui-shape-corner-medium);
}


/* 主窗口控件 */
mdui-top-app-bar {
  z-index: 100;

  align-items: center;
  background-color: #00000000;
  color: rgb(var(--mdui-color-primary));

  -webkit-app-region: drag;

  mdui-top-app-bar-title {
    margin-left: 1.6rem;

    font-size: medium;
    -webkit-app-region: drag;
    user-select: none;

    color: rgb(var(--mdui-color-primary));

    font-family: 'Nunito';
    font-weight: 700;
  }

  mdui-button-icon {
    margin: 0;

    transform: scale(0.8);
    color: rgb(var(--mdui-color-primary));
  }
}

div.page {
  width: 100%;
  margin: 0 0 0 calc(5rem + 14rem);
  padding: 0 3rem;

  overflow: auto;
  min-height: 472px;

  font-family: 'Harmony Sans SC';

  background-color: rgb(var(--mdui-color-surface), 0.8);
  border-radius: var(--mdui-shape-corner-extra-large) 0 0 var(--mdui-shape-corner-extra-large);

  transition: all 0.3s cubic-bezier(0.28, 0.02, 0.45, 0.98);
  transform: translateX(0);

  div.page-container {
    width: calc(100% - 4rem);
    height: calc(100vh - 6rem);

    position: absolute;
    bottom: 2rem;
    left: 3rem;

    overflow: auto;
  }
}

h1 {
  user-select: none;
  font-weight: normal;

  font-family: 'Harmony Sans SC Bold';
}

mdui-snackbar {
  margin-left: 6rem;
  margin-bottom: 1.6rem;
  border-radius: var(--mdui-shape-corner-medium);

  div {
    display: flex;
    align-items: center;
  }
}

div.loadingLayer {
  width: 100vw;
  height: 100vh;
  z-index: 100;

  background-color: rgb(var(--mdui-color-surface));

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* 设置页 */

div#settingPage {
  .page-container {
    padding-right: 0.2rem;
  }

  mdui-list-subheader {
    margin: 0.5rem 0;
    font-size: medium;
    color: rgb(var(--mdui-color-secondary));
    font-family: 'Harmony Sans SC M';
  }
}

div.time-container {
  width: 100%;

  mdui-list-item {
    width: 100%;

    margin-top: 0.5rem;

    font-family: 'Product Sans';
    /* text-align: center; */
    background-color: rgba(var(--mdui-color-surface), 0.6);
    border-radius: var(--mdui-shape-corner-large);
  }

  span#time {
    color: rgb(var(--mdui-color-secondary));
    font-size: 1.2rem;
    letter-spacing: initial;
  }

  .statusIcon {
    width: 1rem;
    margin-left: -0.2rem;

    span#unreadCount {
      color: rgba(var(--mdui-color-secondary));
      font-family: 'Nunito';
      font-size: larger;
      font-weight: bold;
    }
  }

}

div.showList {
  width: 100%;
  height: calc(100vh - 6rem);

  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;

  transition: all 0.3s cubic-bezier(0.28, 0.02, 0.45, 0.98);
}

mdui-card.viewCard {
  transition: all 0.1s;

  background-color: rgb(var(--mdui-color-surface));

  border-radius: 2rem;
}

mdui-navigation-rail {
  z-index: 100;
  background-color: unset;

  mdui-button-icon[slot="bottom"] {
    margin-bottom: 1.2rem;
  }

  mdui-button-icon#list-container-switch {
    background-color: rgba(var(--mdui-color-surface), 0.6);
  }
}

div.list-container {
  width: 12rem;
  height: calc(100vh - 4rem);

  position: fixed;
  top: 0;
  padding: 0.5rem;
  margin: 3rem 0 0 5rem;

  font-family: 'Harmony Sans SC';

  transform: translateX(0);
  /* 初始显示 */
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;
  z-index: 10;

  p.showCount {
    margin: 0.25rem 0 1.4rem 0;
    text-align: center;
    font-size: small;
  }

  div.toolBar {
    width: calc(100% - 1rem);
    margin: 0 0.5rem;

    background-color: rgba(var(--mdui-color-surface), 0.6);
    border-radius: var(--mdui-shape-corner-small) var(--mdui-shape-corner-small) var(--mdui-shape-corner-large) var(--mdui-shape-corner-large);

    position: absolute;
    bottom: 1.5rem;
    left: 0;

    mdui-collapse {
      width: 100%;
      padding: 0 0.2rem;
    }

    mdui-list-item,
    mdui-collapse-item {
      padding: 0 0.2rem;
    }
  }

  mdui-list-item {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 4.4rem;
  }

  mdui-list-item[active] {
    border: rgba(var(--mdui-color-secondary), 0.3) solid 0.1rem;
    background-color: rgba(var(--mdui-color-secondary-container), 0.3);

    border-radius: var(--mdui-shape-corner-extra-large);
  }

  mdui-list-subheader {
    line-height: 16px;
    height: 16px;
    color: rgb(var(--mdui-color-secondary));
    font-family: 'Harmony Sans SC M';
  }

  mdui-button,
  mdui-button-icon {
    border-radius: var(--mdui-shape-corner-medium);

    background-color: rgb(var(--mdui-color-primary), 0.1);
    color: rgb(var(--mdui-color-on-surface));

    transition: all 0.2s;
  }

  mdui-button {
    width: 6rem;
  }

  mdui-button:hover {
    border-radius: var(--mdui-shape-corner-extra-large);
  }

  mdui-button-icon:hover {
    border-radius: var(--mdui-shape-corner-extra-large);
  }

  div.overviewList {
    height: calc(100vh - 14rem);

    margin-top: 1em;
    padding: 0 0.4rem;

    background-color: rgba(var(--mdui-color-surface), 0.6);
    border-radius: var(--mdui-shape-corner-large) var(--mdui-shape-corner-large) var(--mdui-shape-corner-small) var(--mdui-shape-corner-small);

    overflow: auto;

    scrollbar-color: rgb(var(--mdui-color-secondary), 0.2) #00000000;
  }
}



.no-disturb-screen {
  z-index: 999;
  width: 100%;
  height: 100%;

  display: none;

  position: fixed;
  top: 0;
  left: 0;

  background-color: rgb(var(--mdui-color-surface-container));
  color: rgb(var(--mdui-color-on-surface));

  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.28, 0.02, 0.45, 0.98);

  .time-display {
    position: absolute;
    top: 2vh;
    left: 4vh;

    font-family: 'Nunito';
    font-size: 10vh;
    font-weight: 700;

    opacity: 0.7;
  }

  .count-display {
    position: absolute;
    top: calc(2vh + 10vh + 1vh);
    left: 5vh;

    font-family: 'Product Sans';
    font-size: 2vh;

    opacity: 0.7;
  }

  .disturb-container {
    width: 100vw;
    height: calc(100vh - 20vh);

    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    align-items: flex-start;

    background-color: rgb(var(--mdui-color-surface));
    border-radius: 4vh 4vh 0 0;

    div.showList {
      margin: 2rem;
      max-height: calc(100vh - 20vh - 4rem);
    }

  }

  .exit-button {
    width: 4.2rem;
    height: 4.2rem;

    position: absolute;
    bottom: 2rem;
    right: 2rem;

    background-color: rgb(var(--mdui-color-secondary));
    color: rgb(var(--mdui-color-surface));
    border-radius: var(--mdui-shape-corner-extra-large);

    cursor: pointer;

    transition: all 0.2s;
  }

  .exit-button:hover {
    border-radius: var(--mdui-shape-corner-medium);
  }
}

.no-disturb-screen.active {
  opacity: 1;
}

div.showList {
  font-family: 'Harmony Sans SC M';
}

div.margined {
  padding-left: 2.5rem;
}

.left-toolbar {
  position: fixed;
  left: 2.4rem;
  bottom: 1.5rem;

  .normalBtn {
    height: 3rem;
    width: 3.6rem;

    background-color: rgb(var(--mdui-color-secondary-container));
    color: rgb(var(--mdui-color-secondary));
    box-shadow: none;

    border-radius: 2rem;

    transition: all 0.25s;

    .material-symbols-rounded {
      font-size: 22px;
    }
  }



  .normalBtn:hover {
    border-radius: var(--mdui-shape-corner-medium);
  }
}

.right-toolbar {
  position: fixed;
  right: 2.4rem;
  bottom: 1.5rem;

  .normalBtn {
    height: 3rem;
    width: 3.6rem;

    background-color: rgb(var(--mdui-color-secondary-container));
    color: rgb(var(--mdui-color-secondary));
    box-shadow: none;

    border-radius: 2rem;

    transition: all 0.25s;

    .material-symbols-rounded {
      font-size: 22px;
    }

  }

  .normalBtn:hover {
    border-radius: var(--mdui-shape-corner-medium);
  }
}

.primaryBtn {
  height: 4.2rem;
  width: 4rem;
  margin: 0 0.2rem;

  margin-top: 0.5rem;

  position: static;

  border-radius: var(--mdui-shape-corner-medium);
  background-color: rgb(var(--mdui-color-secondary));
  color: rgb(var(--mdui-color-surface));
  box-shadow: var(--mdui-elevation-level1);

  font-family: 'Harmony Sans SC M';

  transition: all 0.2s;

}